<div class="puzzle-container">
    <div class="puzzle-content">
        <%= link_to "< Back to puzzles", puzzle_hunt_path(@puzzle.puzzle_hunt) %>
        <h1><%= @puzzle.title %></h1>

        <% if @puzzle.solved?(current_user) %>
            <h2>You solved the puzzle!</h2>
            <p>The answer is: <%= @puzzle.correct_answer(current_user) %></p>
        <% else %>
            <%= form_with url: "/puzzles/#{@puzzle.id}/answers", method: :post do |form| %>
            <%= form.label :answer, "Answer:" %>
            <%= form.text_field :answer %>
            <%= form.submit "Submit" %>
            <% end %>
        <% end %>

        <ul>
            <% @answers.each do |answer| %>
                <% if answer.correct %>
                    <li style="color: green"><%= answer.text %></li>
                <% else %>
                    <li style="color: red"><%= answer.text %></li>
                <% end %>
            <% end %>
        </ul>

        <div class="puzzle-container">
            <iframe src=<%= url_for(@puzzle.content) %> width="600" height="780"> </iframe>
        </div>
    </div>
</div>